* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    
}



#header-text {
    font-size: 160%;
    text-align: center;
    margin-top: 2%;
}

.content-col,
.nav-col {
    padding-right: 0%;
    padding-left: 0%;
}

#news-carousel {
    height: 200px;
}

.w-100 {
    height: 200px;
}

.carousel-caption {
    color: ghostwhite;
}

.article-title {
    font-weight: bold;
}

.article-thumbnail {
    width: 100%;
    overflow: hidden;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;

}

.article-thumbnail:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.news-row .col-sm-4 {
    padding: 0;
}

.header-news-row .col-sm-12 {
    padding-left: 0;
}

.epl-table img {
    height: 15px;
    width: 15px;
}

.score-table img {
    height: 35px;
    width: 35px;
}

.epl-table {
    width: 100%;
}
#team-logo-td {
    padding: 0;
}
.epl-table th,
.score-table th,
.score-table tr,
.epl-table tr {
    text-align: center;
    padding: 0;
    font-size: 80%;
}

.epl-table td,
.score-talbe td {
    text-align: center;
    font-size: 75%;
    padding: 0;
}

.stat-row h5 {
    text-align: center;
}

.stat-header {
    text-align: center;
}
/* 
.epl-table thead{
    font-size: 2%;
}

.epl-table tbody {
    font-size: 1%;
}

.table-col {
    margin-right: 50%;
} */
/* Side Bar */

.nav-box {
    background-color: #44709a;
    color: wheat;
    padding-top: 23%;
    height: 2200px;
}

.nav-box ul{
    list-style: none;
    padding-left: 2%;
}

.fa-home {
    margin-bottom: 10%;
}

 .nav-box ul li a:link,
 .nav-box ul li a:visited {
    margin-left: 5%;
    text-decoration: none;
    color: wheat;
    font-size: 90%;
     -webkit-transition: color 0.5s;
    transition: color 0.5s;

} 

.nav-box ul li a:hover,
.nav-box ul li a:active {
    margin-left: 5%;
    text-decoration: none;
    color: wheat;
    font-size: 90%;
    color: whitesmoke;
}

#team-toggle {
    padding-left: 10%;
}

.team-logo {
    width: 25px;
    height: 25px;
}

.epl-logo {
   margin-bottom: 5%;
   font-size: 90%;
}

.team-list {
    margin-bottom: 5%;
    margin-left: 10%;
    font-size: 70%;
}




@media only screen and (min-width: 576px) {
    
}
@media only screen and (min-width: 768px) {

     #news-carousel {
        height: 500px;
    }

    .w-100 {
        height: 500px;
    }
  
}
@media only screen and (min-width: 992px) {

    * {
        font-size: 18px;
    }
    #news-carousel {
        height: 580px;
    }

    .w-100 {
        height: 580px;
    }
}
@media only screen and (min-width: 1200px) {
    * {
        font-size: 20px;
    }
}
